= form_for @user, :url => account_path do |f|
  = f.error_messages
  = f.label :name
  %br
  =f.text_field :name
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  = f.label :password, f.object.new_record? ? nil : "Change password"
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  %h1 Regras
  %p
    = f.radio_button :role, :admin
    Administrador
    %br
    = f.radio_button :role, :supervisor
    Supervisor
    %br
    = f.radio_button :role, :user
    Usuário
    %br
  = f.submit "Register"
