= form_for @user, :url => users_path do |f|
  = f.error_messages  
  
  = f.label :name
  %br
  =f.text_field :name, :class=>"form-control"
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email, :class=>"form-control"
  %br
  %br
  = f.label :password, f.object.new_record? ? nil : "Change password"
  %br
  = f.password_field :password, :class=>"form-control"
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation, :class=>"form-control"
  %br
  %h1 Nível de Permissão
  %p
    = f.radio_button :role, :admin
    Administrador
    %br
    = f.radio_button :role, :comercial
    Comercial
    %br
    = f.radio_button :role, :user
    Usuário
    %br
  = f.submit "Salvar",:class=>"btn btn-default"
