= form_for @user do |f|
  = f.error_messages  
  
  = f.label :name
  %br
  =f.text_field :name, :class=>"form-control"
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email, :class=>"form-control"
  %br
  %br
  = f.label :password, f.object.new_record? ? nil : "Change password"
  %br
  = f.password_field :password, :class=>"form-control"
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation, :class=>"form-control"
  %br
  %h1 Nível de Permissão
  %p
    = f.radio_button :role, :admin
    Administrador/Diretor
    %br
    = f.radio_button :role, :atendimento
    Atendimento
    %br
    = f.radio_button :role, :comercial
    Comercial
    %br
    = f.radio_button :role, :criacao
    Criação
    %br
    = f.radio_button :role, :financeiro
    Financiero
    %br
    = f.radio_button :role, :redacaoms
    Redação/MS
    %br
    = f.radio_button :role, :planejamento
    Planejamento
    %br
    = f.radio_button :role, :producao
    Produção e Mídia
    %br
  = f.submit "Salvar",:class=>"btn btn-default"
