!!!
//
//        - if show_title?
//          %h1
//            = yield(:title)
/        - flash.each do |name, msg|
/          = content_tag :div, msg, :id => "flash_#{name}"
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    =image_tag "favicon.png"
    /, :rel => "shortcut icon"}
    %title Clean Zone
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:300,200,100", :rel => "stylesheet", :type => "text/css"}
    / Bootstrap core CSS
    = stylesheet_link_tag "bootstrap.css"
    //extracted from sidebar
    = stylesheet_link_tag "js/jquery.gritter/css/jquery.gritter.css"
    //ie9
    //<script src="../../assets/js/html5shiv.js"></script>
    //<script src="../../assets/js/respond.min.js"></script>
  
    = stylesheet_link_tag "js/jquery.nanoscroller/nanoscroller.css"
    = stylesheet_link_tag "js/jquery.easypiechart/jquery.easy-pie-chart.css"
    = stylesheet_link_tag "js/bootstrap.switch/bootstrap-switch.css"
    = stylesheet_link_tag "js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css"
    = stylesheet_link_tag "js/jquery.select2/select2.css"
    = stylesheet_link_tag "js/bootstrap.slider/css/slider.css"
    = stylesheet_link_tag "style.css"    
    =yield(:head)
  
  %body{:style=>"opacity:1; margin-left:0px"}    
    /fixed
    #head-nav.navbar.navbar-default.navbar-fixed-top
      =render :file => "layouts/_header.html.haml" 
    #cl-wrapper.fixed-menu
      =render :file => "layouts/_sidebar.html.haml" 
      #pcont.container-fluid
        .cl-mcont
          =yield
                    
    %footer         
      = javascript_include_tag "js/jquery.js"
      = javascript_include_tag "js/jquery.nanoscroller/jquery.nanoscroller.js"
      = javascript_include_tag "js/jquery.sparkline/jquery.sparkline.min.js"
      = javascript_include_tag "js/jquery.easypiechart/jquery.easy-pie-chart.js"
      = javascript_include_tag "js/behaviour/general.js"
      = javascript_include_tag "js/jquery.ui/jquery-ui.js"
      = javascript_include_tag "js/jquery.nestable/jquery.nestable.js"
      = javascript_include_tag "js/bootstrap.switch/bootstrap-switch.min.js"
      = javascript_include_tag "js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"
      = javascript_include_tag "js/jquery.select2/select2.min.js"
      = javascript_include_tag "js/bootstrap.slider/js/bootstrap-slider.js"
      = javascript_include_tag "js/jquery.gritter/js/jquery.gritter.js"




      = javascript_include_tag "js/behaviour/voice-commands.js"
      = javascript_include_tag "js/bootstrap/dist/js/bootstrap.min.js"
      = javascript_include_tag "js/jquery.flot/jquery.flot.js"
      = javascript_include_tag "js/jquery.flot/jquery.flot.pie.js"
      = javascript_include_tag "js/jquery.flot/jquery.flot.resize.js"
      = javascript_include_tag "js/jquery.flot/jquery.flot.labels.js"

